
body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #730500;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-align: center;
}

header {
    margin: auto;
    padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sC, .tC, .ftC, .lC {
  display: none;
}

.mainImage {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h2 {
  color: rgb(197, 197, 205);
  font-style: oblique;
  font-family: serif;
  font-variant: unicase;
}

h1 {
  color: rgb(197, 197, 205);
  font-style: oblique;
  font-family: serif;
  font-variant: unicase;
}

h3 {
  color: rgb(197, 197, 205);
  font-style: oblique;
  font-family: serif;
  font-variant: unicase;
  font-size: xx-large;
}

.menu {
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu li {
  display: inline;
}
